 <%# nature一覧 %>
<div class='nature-contents'>
  <h2 class='nature_title'>自然美鑑賞</h2>
  <ul class='nature_lists'>
    <% @natures.each do |nature| %>
      <li class='list'>
        <%= link_to natures_path(nature) do %>
          <div class='nature-img-content'>
            <% if nature.image.attached? %>
          <%= image_tag nature.image, class: "nature-img" %>
          <% end %>
          </div>
          <div class='nature-info'>
            <h3 class='nature-name'>
              <%= nature.title %>
            </h3>
            <div class='nature-btn'>
              <%= image_tag "aim_natural_guilin.png", class: "nature-icon" %>
            </div>
          </div>
        <% end %>
      </li>
    <% end %>
<%= link_to('/natures/new', class: 'nature-btn') do %>
<%= image_tag 'blog_post.png', size: '185x150', class: "nature-icon" %>
<span class='nature-btn-text' style='font-size: 18px;'>投稿する</span>
<% end %>
</ul>
</div>