 <%# nature一覧 %>
 <%= image_tag("logo-color.png", class:"second-footer-logo") %>
 <span class='nature_title'>自然美鑑賞</span>
<div class='nature-contents'>
  <ul class='nature_lists'>
    <% @natures.each do |nature| %>
      <li class='list'>
        <%= link_to natures_path(nature) do %>
          <div class='nature-img-content'>
            <% if nature.image.attached? %>
          <%= image_tag nature.image, class: "nature-img" %>
          <% end %>
          </div>
          <div class='nature-info'>
          <div class="nature-details-container">
            <h3 class='nature-name'>
              <%= nature.title %>
            </h3>
             </div>
           <p class="nature-details"><%= nature.details %></p>
          
          </div>
        <% end %>
      </li>
    <% end %>
<%= link_to('/natures/new', class: 'nature-btn') do %>
<%= image_tag 'blog_post.png', size: '185x150', class: "nature-icon" %>
<span class='nature-btn-text' style='font-size: 25px;'>投稿する</span>
<% end %>
</ul>
